body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



/* Styling for the form container */
form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

/* Form input styling */
input[type="text"], input[type="submit"] {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

/* Focus effect on input fields */
input[type="text"]:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

/* Styling the submit button */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Hover effect for the submit button */
input[type="submit"]:hover {
    background-color: #45a049;
}

/* Adding some spacing between the fields */
form input:not(:last-child) {
    margin-bottom: 20px;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    form {
        padding: 20px;
    }
}

#map {
    height: 500px;
    width: 100%;
  }

  #controls {
    margin: 20px 0;
  }

  gmp-map:not(:defined) {
    display: none;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  
  #infowindow-content {
    display: none;
  }
  
  .pac-card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-size: 13px;
    font-weight: 300;
  }
  
  #place-picker {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 1rem 1rem;
  }

  /* Styling for the Routing button */
  .routing-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.routing-btn:hover {
    background-color: #45a049;
}